<!DOCTYPE html>
<html>
  <head>
    <title>Mango University</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper container">
          <%= link_to 'Mango University', root_path, class: 'brand-logo' %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'New course', courses_new_path %></li>
          </ul>
        </div>
      </nav>
    </header>
   

    <main class="container">
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Mango University</h5>
            <p class="grey-text text-lighten-4">The future of development training</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Information</h5>
            <ul>
              <li><%= link_to 'Home', root_path, class: 'grey-text text-lighten-3' %></li>
              <li><%= link_to 'About', about_path, class: 'grey-text text-lighten-3' %></li>
              <li><%= link_to 'New course', courses_new_path, class: 'grey-text text-lighten-3' %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2022 Mango Production
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
